@import url("https://fonts.googleapis.com/css?family=Questrial");
@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
    display:grid;
    grid-template-columns:25% 75%;
    gap:1em;
    background-color:#000;
    font-family:"Questrial",sans-serif;
}

body {
    margin: 0 auto;
    max-width: 56em;
    padding: 1em 0;
}

profile,main {
    color:#FFF;
    background:#000;
    display:flex;
    height:500px;
}

profile {
    align-items:center;
}

main {
    align-items:top;
    font-family:"Poppins",sans-serif;
}

div.pfp {
    vertical-align: top;
    display: inline-block;
    text-align: left;
    width:100%;
    position:fixed;
    left:15%;
}

.caption {
    display:block;
    text-align:left;
    font-size:18px;
}

div.space {
    padding:10px;
}

.info {
    display:block;
    text-align:left;
    font-size:14px;
    padding-bottom:5px;
}

.box {
    width:60%;
}

.projects {
    top: 150px;
    position:absolute;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(238, 238, 238, 0.61);
    transition:0.3s;
    cursor:pointer;
    width:204px;
    float:left;
    margin-right:20px;
    margin-bottom:20px;
    position:relative;
}

.card:hover {
    box-shadow:0 8px 16px 0 rgba(243, 241, 241, 0.815);
}

.container {
    padding: 2px 16px;
    position:absolute;
    width:200px;
    top:75px;
}

a{
    color:white;
}

a:link {
    text-decoration:none;
}

a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}