.left-bar .image-container {
    width: max(12.5vw, 12.5vh);
    height: max(12.5vw, 12.5vh);
    display: flex;
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.left-bar .image-container img {
    display: block;
    width: 90%;
    height: 90%;    
}