.right-content button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    right: 5vh;
}


.right-content button:hover {
    cursor: pointer;
}